<!DOCTYPE html>
<html>
<head>

</head>
<body>

<style type ="text/css">
table, th, td{
	border: 1px solid black
}
td {
	padding: 8px;
}

#playerstats{
	
	color: green;
}

#playerinfo{
	font-size: 24px;
	color: red;
}

#bio{
	font-family: Verdana;
}

#avgstats{
	font-size: 20px;
	color: blue;
	font-family: Verdana;
}

</style>

<% require 'nokogiri' %>
<% require 'open-uri' %>
<% url = "http://sports.yahoo.com/nba/players/3118/gamelog/" %>
<% doc = Nokogiri::HTML(open(url)) %>
<% stats = [] %>

<% doc.css(".data-container").each do |dc| %>
<% stats.push(dc.at_css("tbody").text.split(" ").each_slice(24).to_a) %>
<%end%>

<div id="playerinfo">
<%= doc.css(".player-info").text%>
</div>
<div id="bio">
<%= doc.css(".bio").text %>
</div>
<div id="avgstats">
<%= doc.css(".stats li").text %>
<div>
<img src="http://l.yimg.com/j/assets/i/us/sp/v/nba/teams/83/70x70/lal.png">
</div>
<div>
<img src="http://l2.yimg.com/bt/api/res/1.2/jBsds5goQSFEtpS12wBETQ--/YXBwaWQ9eW5ld3M7Zmk9ZmlsbDtoPTIzMDtxPTc1O3c9MzQ1/https://sp.yimg.com/j/assets/i/us/sp/v/nba_cutout/players_l/20141107/3118.png">
</div>
<div>
<%= doc.css(".team-logo") %>


	</div>
	<div>
		<%= doc.css(".player-image img") %>
		
	</div>


<div id ="playerstats">
<table>
<thead>
	<tr>
		<th>Date</th>
		<th></th>
	
		<th>Opp.</th>
		<th>Result</th>
		<th>Score</th>
		<th>Min</th>
		<th>FGM</th>
		<th>FGA</th>
		<th>FG%</th>
		<th>3PM</th>
		<th>3PA</th>
		<th>3PT%</th>
		<th>FTM</th>
		<th>FTA</th>
		<th>FT%</th>
		<th>Off. Reb</th>
		<th>Def. Reb</th>
		<th>Reb</th>
		<th>Ast</th>
		<th>TO</th>
		<th>Stl</th>
		<th>Blk</th>
		<th>PF</th>
		<th>Pts</th>
		<th>FanDuel Points</th>
	</tr>
</thead>



<tbody>
	<% stats[0].each do |i|%>
<tr>
		<% i.each do |b|%>
			<td><%=b %></td>
	
	
	<% end %>

	<td><%= i.at(23).to_i + ((i.at(17).to_i) * 1.2) + ((i.at(18).to_i) * 1.5) + ((i.at(21).to_i) * 2) + ((i.at(20).to_i) * 2) - i.at(19).to_i %></td>

	
</tr>
<% end %>

</tbody>
</table>
</div>

	
	

</body>
</html>